<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a type="button" class="btn btn-outline-light"  href="#">Rent A Car</a>||
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button  routerLink = "/rentals/" type="button" class="btn btn-outline-light">Rental Details</button>
        </li>||
        <app-rental></app-rental>
        <li class="nav-item">
          <a type="button" class="btn btn-outline-light" routerLink = "/users/">Users</a>
        </li>||
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light" routerLink = "cars/addCar">Araç Ekle</button>
        </li>||
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light" routerLink = "brands/addbrand">Marka Ekle</button>
        </li>||
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light" routerLink = "brands/updatebrand">Renk Ekle</button>
        </li>||
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
