<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-warning"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table
  style="background-color: rgb(138, 74, 74)"
  *ngIf="dataLoaded == true"
  class="table table-hover"
>
  <thead>
    <tr class="table-dark">
      <th scope="col">Number ID</th>
      <th>Marka Seçenekleri</th>
    </tr>
  </thead>
  <tbody>
    <tr [class]="getAllBrandClass()" routerLink="/cars">
      <th colspan="2" style="text-align: center">Araçları Getir</th>
    </tr>
    <tr
      (click)="setCurrentBrand(brand)"
      routerLink="/cars/brand/{{ brand.brandId }}"
      *ngFor="let brand of brands"
      [class]="getCurrentBrandClass(brand)"
    >
      <th scope="row">{{ brand.brandId }}</th>
      <th scope="row">{{ brand.brandName }}</th>
    </tr>
    
  </tbody>
</table>

