<!-- <h3 style="text-decoration: dashed;" class="car-header">Car Details</h3> -->
<!-- <caption class="p-3 mb-2 bg-dark bg-gradient text-info bg-dark">
  Car Details
</caption> -->
<!-- <ul *ngIf="dataLoaded == true">
  <li class="list-group-item" *ngFor="let car of carImages">
    <img
      src="https://localhost:44358/{{ car.imagePath }}"
      alt="https://localhost:44358/{{ car.imagePath }}"
    />
    <img
      *ngIf="car.imagePath == null"
      src="https://localhost:44358/"
      alt="https://localhost:44358/"
    />
  </li>
</ul> -->

<!-- <div id="carouselExampleDark" class="carousel carousel-fade slide carousel-dark" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleDark"></li>
      </ol>
      <div class="carousel-inner">
        <div [class]="getSliderClassName(car)" *ngFor="let car of carImages" data-bs-interval="3000">
          <img src="https://localhost:44358/{{ car.imagePath }}" class="d-block w-100" alt="https://localhost:44358/{{ car.imagePath }}" height="400"/>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->

<div class="row">
  <div class="col-md-8">
    <div
      id="carouselExampleIndicators"
      class="carousel carousel-fade slide carousel-dark"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div *ngFor="let carimageUrl of carImages">
          <img
            class="rounded float-start"
            src="https://localhost:44378{{ carimageUrl.imagePath }}"
            class="d-block w-100"
            height="380"
          />
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngFor="let cardetail of carDetails" class="col-md-4">
    <br />
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <strong> {{ cardetail.brandName }}</strong>
        </h5>
        <p class="card-text">{{ cardetail.description }}</p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Brand : {{ cardetail.brandName }}</li>
        <li class="list-group-item">Color : {{ cardetail.colorName }}</li>
        <li class="list-group-item">Model Year : {{ cardetail.modelYear }}</li>

        <li class="list-group-item">
          Daily Price :
          <del
            ><strong style="color: #808080"
              >{{ cardetail.dailyPrice }}₺</strong
            ></del
          >
        </li>
      </ul>

      <div class="card-body">
        <button (click)="addToCart(cardetail)" type="button" class="btn btn-dark">Kirala</button>
        
      </div>
    </div>
  </div>
  <div>
  </div>
  <hr>
  <div>
    <app-rent-add></app-rent-add>
  </div>
</div>
<hr>

  





