<li *ngIf="rentItems.length >= 0" class="nav-item dropdown">
  <!-- tanımlıysa anlamına gelir -->
  <a
  class="btn btn-outline-light"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Araç Listesi
  </a>||
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li *ngFor="let rentItem of rentItems">
      <a class="dropdown-item"
        ><span class="badge rounded-pill bg-dark text-danger">{{
          rentItem.price
        }}</span
        >{{ rentItem.carId.carId
        }}<span (click)="removeFromList(rentItem.carId)" class="badge rounded-pill bg-danger text-dark">Sil</span></a
      >
    </li>
    <li>
      <hr class="dropdown-divider" />
    </li>
    <li>
      <a class="dropdown-item" aria-labelledby="navbarDropdown" routerLink = "brands/addbrand">Marka Ekle</a>
      <hr class="dropdown-divider" />
    </li>

    <li>
      <a class="dropdown-item" aria-labelledby="navbarDropdown" routerLink = "colors/addcolor">Renk Ekle</a>
      <hr class="dropdown-divider" />
    </li>
    <li>
      <a class="dropdown-item" aria-labelledby="navbarDropdown" routerLink ="cars/addCar">Araç Ekle</a>
    </li>
    
  </ul>
</li>
